img{
    width: 10em;
    height: 10em;
    margin-bottom: 20px;
}

.fanimage .tempbox{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    opacity: 50%;
    font-size: 30px;
    border-radius: 10px;
    margin: 10px;
    width: 151px;
    height: 104px;
    text-align: center;
}

.fanimage{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 80vh;
}

button {
  background-color: #893BF6;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 26px;
  margin: 10px;
  border-radius: 15px; 
  box-shadow: 0 5px #000000;
  transition: background-color 0.4s ease, transform 0.2s, box-shadow 0.2s;
}
button:hover {
  background-color: #FF5733; /* change to any color you like */
  color: white;
  transform: scale(1.05); /* slight zoom */
}

.decrease:active{
 box-shadow: 0 5px #001aff;
    transform: translateY(4px);
}

.increase:active {
    box-shadow: 0 5px hsl(0, 100%, 50%);
    transform: translateY(4px);
}

#rotatingfans{
   animation: mymove 4s linear infinite;
   animation-delay: 0s;
}

@keyframes mymove{from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}}  

.nextpage button{
    margin: 20px;
}

.increase{
   margin-right: 100px;
}

.decrease{
    margin-left: 60px;
    margin-right: 20px;
}

controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.controls button:hover {
  background-color: #5a14e0;
  color: white;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;}