img{
    width: 10em;
    height: 10em;
}



.fanimage .tempbox{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    opacity: 50%;
    font-size: 30px;
    border-radius: 10px;
    margin: 10px;
    width: 151px;
    height: 104px;
    text-align: center;
}

.fanimage{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
}

button{
    background-color: #893BF6;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 26px;
  margin: 10px;
  border-radius: 15px; 
  box-shadow: 0 5px #000000;
  transition: transform 0.2s, box-shadow 0.2s;
}

button:active {
    box-shadow: 0 5px #ff0000;
    transform: translateY(4px);
  }


  #rotatingfans{
   animation: mymove 10s infinite;
   animation-delay: 0s;
  }

  @keyframes mymove{from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }}
  

.nextpage button{
    margin: 20px;
}

  /*@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}*/

